<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Redirecting&hellip;</title>
  <link rel="canonical" href="<%= htmlWebpackPlugin.options.redirect %>">
  <meta http-equiv="refresh" content="0; url=<%= htmlWebpackPlugin.options.redirect %>">
  <meta name="robots" content="noindex">
</head>
<body>
  <h1>Redirecting&hellip;</h1>
  <a href="<%= htmlWebpackPlugin.options.redirect %>">Click here if you are not redirected.</a>
  <script>window.addEventListener("load", function() {
    if (window.location.href !== "<%= htmlWebpackPlugin.options.redirect %>") {
      window.location.href = "<%= htmlWebpackPlugin.options.redirect %>";
    }
  });</script>
</body>
</html>
