body { font-family: Arial, sans-serif; margin: 2em; }
h1 { color: #b00; }
table { border-collapse: collapse; width: 100%; margin-bottom: 2em; }
th, td { border: 1px solid #ccc; padding: 8px; }
th { background: #eee; }
.file-title { font-weight: bold; margin-top: 2em; }
.no-links { color: #080; }
.counter {
  background: #666;
  color: #fff;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
}
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;
  color: #ccc;
}
.breadcrumb a {
  color: #999;
}
.breadcrumb a[href] {
  color: #666;
  text-decoration: none;
}
.breadcrumb a[href]:hover {
  text-decoration: underline;
}
.breadcrumb a strong {
  color: #111;
}
ul {
  list-style: none;
  padding: 0 0 0 24px;
  margin: 12px 0 16px 0;
}
ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  padding: 4px 0;
  line-height: 16px;
}
ul li:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 25px;
  top: -13px;
  left: -17px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: #ccc;
}
ul li img { width: 16px; height: 16px; }

.urn {
  color: #999;
}
