.seeAlso {
  margin-top: 3rem;
}

.divider {
  margin-bottom: 1.5rem;
  border-color: var(--ifm-color-emphasis-300);
}

.heading {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: var(--ifm-h4-font-size);
  margin-bottom: 0.75rem;
}

.icon {
  flex-shrink: 0;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 1px;
  list-style: none;
}

.list::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  border-top: 1px solid var(--ifm-color-emphasis-200);
}

.item {
  position: relative;
}

.item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
}

.link {
  display: block;
  padding: 0.75rem 0.25rem;
  color: var(--ifm-link-color);
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  background: var(--ifm-color-emphasis-100);
  color: var(--ifm-link-hover-color);
  text-decoration: underline;
}
