@import './variables.css';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-family: "Figtree", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

html, body {
  font-size: 16px;
  font-family: "Figtree", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--sys-fg-base);
}