@import './variables.css';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-size: 16px;
  font-family: "Figtree", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: var(--text-body);
}

h1, h2, h3, h4, h5 {
  font-family: "Figtree", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: var(--text-primary);
}

h1 {
  font-size: var(--heading-h1-font-size);
  line-height: var(--heading-h1-line-height);
  font-weight: var(--heading-h1-font-weight);
}

h2 {
  font-size: var(--heading-h2-font-size);
  line-height: var(--heading-h2-line-height);
  font-weight: var(--heading-h2-font-weight);
}

h3 {
  font-size: var(--heading-h3-font-size);
  line-height: var(--heading-h3-line-height);
  font-weight: var(--heading-h3-font-weight);
}

h4 {
  font-size: var(--heading-h4-font-size);
  line-height: var(--heading-h4-line-height);
  font-weight: var(--heading-h4-font-weight);
}

code {
  font-family: "Source Code Pro", "Courier New", Courier, monospace !important;
}