@import './variables.css';

:root {
  --base-font-family: "Figtree", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --code-font-family: "Source Code Pro", "Courier New", Courier, monos
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--base-font-family);
}

html, body {
  font-size: 16px;
  font-family: "Figtree", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: var(--text-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--base-font-family);
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  color: var(--text-primary);
}

h1 {
  font-size: var(--heading-h1-font-size);
  line-height: var(--heading-h1-line-height);
  font-weight: var(--heading-h1-font-weight);
}

h2 {
  font-size: var(--heading-h2-font-size);
  line-height: var(--heading-h2-line-height);
  font-weight: var(--heading-h2-font-weight);
}

h3 {
  font-size: var(--heading-h3-font-size);
  line-height: var(--heading-h3-line-height);
  font-weight: var(--heading-h3-font-weight);
}

h4 {
  font-size: var(--heading-h4-font-size);
  line-height: var(--heading-h4-line-height);
  font-weight: var(--heading-h4-font-weight);
}

h5 {
  font-size: var(--heading-h5-font-size);
  line-height: var(--heading-h5-line-height);
  font-weight: var(--heading-h5-font-weight);
}

h6 {
  font-size: var(--heading-h6-font-size);
  line-height: var(--heading-h6-line-height);
  font-weight: var(--heading-h6-font-weight);
  letter-spacing: var(--heading-h6-letter-spacing);
  color: var(--text-tertiary);
  text-transform: uppercase;
}

code, pre {
  font-family: "Source Code Pro", "Courier New", Courier, monospace !important;
}