@import './base.css';

.portal .site-header {
  display: block;
}

.portal .site-header-navbar {
  background-color: var(--sys-primary-emphasized);
  height: 3rem;
}

.portal .site-header-navbar .navbar-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.portal .site-header-navbar .navbar-container .navbar-header {
  float: none;
}
.portal .site-header-navbar .navbar-container .logotype-container {
  float: none !important;
} 
.portal .site-header-navbar .navbar-container .navbar-brand {
  float: none;
}
.portal .site-header-navbar .navbar-container .navbar-brand img {
  float: none;
  height: 24px;;
}

.portal .site-header-navbar .navbar-container .navbar-collapse {
  margin-left: auto;
}

ul.top-nav-menu.sm.sm-simple {
  display: flex;;
  color: var(--sys-fg-on-color);
  padding: 0 .5rem;
  gap: 1rem;
  float: none;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(1n) {
  margin: 0;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(1n) > .external-top-nav-link {
  margin: 0;

  display: flex;
  padding: .375rem .5rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  gap: .25rem;

  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;

  border-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.10) !important;
  color: inherit !important;
}
ul.top-nav-menu.sm.sm-simple > li:nth-child(2) > .external-top-nav-link {
  background: var(--sys-bg-surface) !important;
  color: var(--sys-primary-emphasized) !important;
}

.portal-header {
  padding: 3rem 0 0 0;
  background: var(--sys-bg-surface);
  color: var(--sys-fg-base);
  text-align: left;
}

.portal-header .portal-header-top {
  background-image: linear-gradient(
    to right,
    var(--pal-purple-40) 0%,
    var(--pal-purple-30) 50%,
    var(--pal-purple-20) 100%
  );
  position: relative;
  color: var(--sys-fg-on-color);
}

.portal-header .portal-header-top .portal-header-top-inner {
  margin-top: 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.25rem 3rem 1.25rem;
  position: relative;
}

.portal-header .portal-header-top .portal-header-top-inner h1 {
  color: var(--sys-fg-on-color);
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  margin: 0;
}