:root {
  --header-height: 3rem;
  --navbar-toggle-display: none;
  --navbar-header-width: auto;
  --navbar-padding: 1.5rem;
}
@media (max-width: 768px) {
  :root {
    --navbar-toggle-display: flex;
    --navbar-header-width: 100%;
  }
}

.site-header {
  display: block;
  height: var(--header-height);
}

.site-header-navbar {
  background-color: var(--sys-primary-emphasized);
  height: var(--header-height);
  margin: 0;
  border: 0;
  min-height: auto;
}

.site-header-navbar .navbar-container {
  padding: 0 var(--navbar-padding);
  display: flex;
  align-items: center;
  height: 100%;
}

.portal .site-header-navbar .navbar-container {
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.site-header-navbar .navbar-container .navbar-header {
  float: none;
  display: flex;
  align-items: center;
  width: var(--navbar-header-width);
  min-width: 360px;
}
button.navbar-toggle {
  display: var(--navbar-toggle-display);
  order: 1;
  margin-left: auto;
  /* background: #0f0; */
  width: var(--header-height);
  height: var(--header-height);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-header-navbar .navbar-container .logotype-container {
  float: none !important;
} 
.site-header-navbar .navbar-container .navbar-brand {
  float: none;
  background: url("../images/bitrise-logo.svg") no-repeat center left;
  padding: 0 0 0 85px;
  height: 32px;
  display: flex;
  align-items: center;

  &::after {
    content: "Docs";
    margin-left: 0.25rem;
    font-size: var(--body-lg-semibold-font-size);
    line-height: var(--body-lg-semibold-line-height);
    font-weight: var(--body-lg-semibold-font-weight);
    color: var(--text-on-color);
    opacity: 0.8;
    padding-top: 0.25rem;
  }
}
.site-header-navbar .navbar-container .navbar-brand img {
  float: none;
  height: 24px;
  display: none;
}

div#navbar.navbar-collapse.collapse,
.site-header-navbar .navbar-container .navbar-collapse {
  margin-left: auto;
  height: auto !important;
}

ul.top-nav-menu.sm.sm-simple {
  display: flex;;
  padding: 0 .5rem;
  gap: 1rem;
  float: none;
  align-items: center;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(1n) {
  margin: 0;
  padding: 0;
  float: none;
  height: auto !important
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(1n) > .external-top-nav-link {
  margin: 0;

  display: flex;
  padding: var(--button-sm-padding);
  height: 2rem !important;
  align-items: center;
  justify-content: center;
  gap: .25rem;

  font-size: var(--button-sm-font-size);
  line-height: var(--button-sm-line-height);
  font-weight: var(--button-sm-font-weight);

  border-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.10) !important;
  color: var(--text-on-color) !important;
}
ul.top-nav-menu.sm.sm-simple > li:nth-child(1n) > .external-top-nav-link:active,
ul.top-nav-menu.sm.sm-simple > li:nth-child(1n) > .external-top-nav-link:hover {
  background: rgba(0, 0, 0, 0.10) !important;
  color: var(--text-on-color) !important;
}
ul.top-nav-menu.sm.sm-simple > li:nth-child(2) > .external-top-nav-link {
  background: var(--background-primary) !important;
  color: var(--sys-primary-emphasized) !important;
}
ul.top-nav-menu.sm.sm-simple > li:nth-child(2) > .external-top-nav-link:active,
ul.top-nav-menu.sm.sm-simple > li:nth-child(2) > .external-top-nav-link:hover {
  background: var(--sys-interactive-minimal) !important;
  color: var(--sys-primary-emphasized) !important;
}
ul.top-nav-menu.sm.sm-simple > li:nth-child(2) > .external-top-nav-link:focus {
  box-shadow: 0px 0px 0px 2px var(--sys-interactive-highlight);
}

.site-header-navbar {
  .navbar-container {
    .navbar-search {
      width: 100%;
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem 0.5rem;
      background-color: rgba(255, 255, 255, 0.10);
      height: 2rem;
      border-radius: 0.25rem;
      position: relative;
      margin-right: calc(1rem + 1px);

      input {
        border: 0;
        background: transparent;
        color: var(--text-on-contrast);
        width: 100%;
        font-size: var(--body-md-regular-font-size);
        line-height: var(--body-md-regular-line-height);
        font-weight: var(--body-md-regular-font-weight);
        pointer-events: none;

        &::placeholder {
          color: var(--text-on-contrast);
        }
      }

      &::before {
        content: "";
        display: block;
        background-color: var(--icon-on-contrast);
        mask-image: url("../images/icon-magnifier-24px.svg");
        width: 1.5rem;
        height: 1.5rem;
      }

      &::after {
        content: "";
        display: block;
        opacity: .5;
        width: 1px;
        background-color: var(--background-primary);
        height: 1.5rem;
        position: absolute;
        right: calc(-1rem + -2px);
      }
    }

    div#navbar.navbar-collapse {
      padding: 0;
      display: flex !important;
      align-items: center;

      .top-nav-menu {
        order: 1;
      }
      .adv-search {
        display: none;
      }
      .dropdown-container {
        order: 2;
        padding: 0;
        margin: 0;
        position: relative;
        height: auto;
        letter-spacing: 0;
        white-space: nowrap;

        & > span {
          height: var(--header-height);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          padding: 0 0 0 0.25rem;
          text-transform: uppercase;
          font-size: var(--button-sm-font-size);
          line-height: var(--button-sm-line-height);
          font-weight: var(--button-sm-font-weight);
          color: var(--button-primary-fg);

          &::after {
            content: "";
            margin: 0;
            position: static;
            mask-image: url("../images/icon-chevron-down-16px.svg");
            mask-size: cover;
            width: 1rem;
            height: 1rem;
            transform: none;
            background-color: var(--button-primary-fg);
          }
        }

        ul.dropdown-content {
          position: absolute;
          right: 0;
          top: calc(var(--header-height) + 0.5rem);
          display: none;
          list-style: none;
          margin: 0;
          padding: 0.5rem 0;
          border-radius: 4px;
          border: 1px solid var(--border-minimal);
          background: var(--background-primary);
          box-shadow: var(--elevation-lg);
          transform: none;
          min-width: 0;
          z-index: 9999;

          &.show {
            display: flex !important;
            flex-direction: column;
          }

          li {
            margin: 0;
            padding: 0;

            a {
              display: flex;
              gap: 0.75rem;
              align-items: center;
              padding: var(--dropdown-md-item-padding);
              background: transparent;
              font-size: var(--dropdown-md-item-font-size);
              line-height: var(--dropdown-md-item-line-height);
              font-weight: var(--dropdown-md-item-font-weight);
              color: var(--text-body);
              text-decoration: none;
              white-space: nowrap;
              text-align: left;

              &:hover {
                background: var(--background-hover);
              }
              &:active {
                background: var(--background-active);
                color: var(--text-primary);
              }

              &::after {
                content: "";
                position: static;;
                display: block;
                mask-image: url("../images/icon-check-16px.svg");
                mask-size: cover;
                width: var(--dropdown-md-icon-size);
                height: var(--dropdown-md-icon-size);
                transform: none;
                margin-left: auto;
                background-color: transparent;
              }
            }

            &.active-lang {
              a {
                background: var(--background-selected);
                color: var(--text-primary);
                font-weight: var(--dropdown-md-item-selected-font-weight);

                &::after {
                  background-color: var(--icon-interactive);
                }

                &:hover {
                  background: var(--background-selected-hover);

                  &::after {
                    background-color: var(--icon-interactive-hover);
                  }
                }
              }
            }
          }
        }
      }
      .darktoggle {
        order: 3;
        width: var(--header-height);
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem;
        margin: 0 0 0 0.5rem;

        display: none;

        &::before {
          content: "";
          position: static;
          display: block;
          background-color: var(--button-primary-fg);
          mask-image: url("../images/icon-theme-dark-toggle-24px.svg");
          mask-size: cover;
          mask-repeat: no-repeat;
          width: 1.5rem;
          height: 1.5rem;
          filter: none;
          transform: none;
        }
      }
    }

    .navbar-search + div#navbar.navbar-collapse {
      margin-left: 0;
    }
  }
}

@media (max-width: 992px) {
  .site-header-navbar {
    .navbar-container {
      .navbar-header {
        min-width: auto;
      }
      .navbar-search {
        background: transparent;
        width: 2rem;
        padding: 0;
        justify-content: center;

        input {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .site-header-navbar {
    .navbar-container {
      .navbar-search {
        margin: 0;
        right: calc(var(--navbar-padding) + var(--header-height));
        width: var(--header-height);
        height: var(--header-height);
        position: absolute;
        /* background: #f00; */

        &::after {
          display: none;
        }
      }

      div#navbar.navbar-collapse.collapse {
        width: 0;
        margin: 0;

        .top-nav-menu {
          display: none;
        }

        .dropdown-container {
          /* background: #00f; */
          position: absolute;
          right: calc(var(--navbar-padding) + var(--header-height) + var(--header-height));
          padding: 0 0.5rem;
        }
      }
    }
  }
}