:root {
  --header-height: 3rem;
  --navbar-toggle-display: none;
  --navbar-header-width: auto;
}
@media (max-width: 768px) {
  :root {
    --navbar-toggle-display: block;
    --navbar-header-width: 100%;
  }
}

.site-header {
  display: block;
  height: var(--header-height);
}

.site-header-navbar {
  background-color: var(--sys-primary-emphasized);
  height: var(--header-height);
  margin: 0;
  border: 0;
  min-height: auto;
}

.site-header-navbar .navbar-container {
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.portal .site-header-navbar .navbar-container {
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.site-header-navbar .navbar-container .navbar-header {
  float: none;
  display: flex;
  align-items: center;
  width: var(--navbar-header-width);
  min-width: 360px;
}
button.navbar-toggle {
  display: var(--navbar-toggle-display);
  order: 1;
  margin-left: auto;
}

.site-header-navbar .navbar-container .logotype-container {
  float: none !important;
} 
.site-header-navbar .navbar-container .navbar-brand {
  float: none;
}
.site-header-navbar .navbar-container .navbar-brand img {
  float: none;
  height: 24px;;
}

div#navbar.navbar-collapse.collapse,
.site-header-navbar .navbar-container .navbar-collapse {
  margin-left: auto;
  height: auto !important;
}

ul.top-nav-menu.sm.sm-simple {
  display: flex;;
  padding: 0 .5rem;
  gap: 1rem;
  float: none;
  align-items: center;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(1n) {
  margin: 0;
  padding: 0;
  float: none;
  height: auto !important
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(1n) > .external-top-nav-link {
  margin: 0;

  display: flex;
  padding: var(--button-sm-padding);
  height: 2rem !important;
  align-items: center;
  justify-content: center;
  gap: .25rem;

  font-size: var(--button-sm-font-size);
  line-height: var(--button-sm-line-height);
  font-weight: var(--button-sm-font-weight);

  border-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.10) !important;
  color: var(--text-on-color) !important;
}
ul.top-nav-menu.sm.sm-simple > li:nth-child(1n) > .external-top-nav-link:active,
ul.top-nav-menu.sm.sm-simple > li:nth-child(1n) > .external-top-nav-link:hover {
  background: rgba(0, 0, 0, 0.10) !important;
  color: var(--text-on-color) !important;
}
ul.top-nav-menu.sm.sm-simple > li:nth-child(2) > .external-top-nav-link {
  background: var(--background-primary) !important;
  color: var(--sys-primary-emphasized) !important;
}
ul.top-nav-menu.sm.sm-simple > li:nth-child(2) > .external-top-nav-link:active,
ul.top-nav-menu.sm.sm-simple > li:nth-child(2) > .external-top-nav-link:hover {
  background: var(--sys-interactive-minimal) !important;
  color: var(--sys-primary-emphasized) !important;
}
ul.top-nav-menu.sm.sm-simple > li:nth-child(2) > .external-top-nav-link:focus {
  box-shadow: 0px 0px 0px 2px var(--sys-interactive-highlight);
}

.site-header-navbar {
  .navbar-container {
    .navbar-search {
      width: 100%;
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem 0.5rem;
      background-color: rgba(255, 255, 255, 0.10);
      height: 2rem;
      border-radius: 0.25rem;
      position: relative;
      margin-right: calc(1rem + 1px);

      input {
        border: 0;
        background: transparent;
        color: var(--text-on-contrast);
        width: 100%;
        font-size: var(--body-md-regular-font-size);
        line-height: var(--body-md-regular-line-height);
        font-weight: var(--body-md-regular-font-weight);

        &::placeholder {
          color: var(--text-on-contrast);
        }
      }

      &::before {
        content: "";
        display: block;
        background-color: var(--icon-on-contrast);
        mask-image: url("../images/icon-magnifier-24px.svg");
        width: 1.5rem;
        height: 1.5rem;
      }

      &::after {
        content: "";
        display: block;
        opacity: .5;
        width: 1px;
        background-color: var(--background-primary);
        height: 1.5rem;
        position: absolute;
        right: calc(-1rem - 1px);
      }
    }
    .navbar-search + div#navbar.navbar-collapse {
      margin-left: 0.5rem;
    }
  }
}

@media (max-width: 992px) {
  .site-header-navbar {
    .navbar-container {
      .navbar-header {
        min-width: auto;
      }
      .navbar-search {
        background: transparent;
        width: 2rem;
        padding: 0;
        justify-content: center;

        input {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .site-header-navbar {
    .navbar-container {
      .navbar-search {
        margin: 0;
        right: 4.5rem;
        position: absolute;

        &::after {
          display: none;
        }
      }
    }
  }
}