:root {
  --hub-intro-image-display: block;
  --hub-index-container-width: calc((100% - 3rem) / 3);
  --hub-index-container-margin-top: 2rem;
  --hub-index-container-padding: 1rem 0;
}
@media (max-width: 768px) {
  :root {
    --hub-intro-image-display: none;
    --hub-index-container-width: 100%;
    --hub-index-container-margin-top: 0;
    --hub-index-container-padding: 0;
  }
}

.site-content,
.fixed-toolbar .site-content {
  &[data-is-hub="true"] {
    #bottom-pager,
    .footer-content,
    .breadcrumb-container {
      display: none;
    }
  
    main article#content-wrapper {
      padding-top: 3rem;

      div.itemizedlist.explore,
      div.intro-container {
        display: none;
      }

      #topic-content > section {
        max-width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1.5rem;

        div.itemizedlist.index-container {
          display: flex;
          flex-direction: column;
          width: var(--hub-index-container-width);
          margin-top: var(--hub-index-container-margin-top);
          padding: var(--hub-index-container-padding);

          h2 {
            padding: 0.75rem 0;
            color: var(--text-secondary);
            font-size: var(--body-md-regular-font-size);
            line-height: var(--body-md-regular-line-height);
            font-weight: 700;
            border-bottom: 1px solid var(--border-minimal);
          }

          ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style: none;

            & > li a {
              width: 100%;
              margin: 0;
              padding: 0.75rem 1rem 1rem 1rem;
              display: flex;
              flex-direction: column;
              gap: 0.25rem;
              text-decoration: none;
              cursor: pointer;
              border-bottom: 1px solid var(--border-minimal);

              strong {
                margin: 0 0 0.25rem 0;
                padding: 0;
                background: transparent;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 700;
                color: var(--text-link);
              }

              span.box-para {
                font-size: var(--body-md-regular-font-size);
                line-height: var(--body-md-regular-line-height);
                font-weight: var(--body-md-regular-font-weight);
                color: var(--text-secondary);
              }

              &:hover {
                background: var(--background-secondary);
              }
            }
          }

          ul.itemizedlist.index-container {
            display: none;
          }
        }

        & > .titlepage {
          display: flex;
          gap: 2rem;
          padding-bottom: .5rem;
          width: 100%;

          & > div {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            div.title.homepage-title {
              margin: 0;
              padding: 0;
            }

            h1.title.homepage-title {
              margin: 0;
              padding: 0;
              font-size: 1.875rem;
              line-height: 2.5rem;
              font-weight: 700;
            }

            .homepage-description p {
              margin: 0;
              padding: 0;
              font-size: 1rem;
              line-height: 1.5rem;
              color: var(--text-body);
            }

            .homepage-cta {
              padding-top: .5rem;
              display: flex;
              gap: 1rem;

              .bitbutton {
                display: inline-block;
                width: auto;
                margin: 0;
                padding: var(--button-md-padding);
                text-align: center;
                border-radius: 0.25rem;

                font-size: var(--button-md-font-size);
                line-height: var(--button-md-line-height);
                font-weight: var(--button-md-font-weight);

                letter-spacing: 0;
                color: var(--button-primary-fg);
                background-color: var(--button-primary-bg);
                border: 1px solid var(--button-primary-bg);
                text-decoration: none;

                &:hover {
                  background: var(--button-primary-bg-hover);
                }
                &:active {
                  background: var(--pal-purple-10);
                }
                &:focus {
                  box-shadow: 0px 0px 0px 2px var(--sys-interactive-highlight);
                }
              }

              .bitbutton:nth-child(2) {
                color: var(--button-secondary-fg);
                background-color: var(--button-secondary-bg);
                border: var(--button-secondary-border);

                &:hover {
                  border: var(--button-secondary-border-hover);
                  background: var(--button-secondary-bg-hover);
                }
                &:active {
                  border: var(--button-secondary-border-active);
                  background: var(--button-secondary-bg-active);
                }
              }
            }
          }

          .homepage-image {
            margin-left: auto;
            display: var(--hub-intro-image-display);

            img {
              max-width: none;
              height: auto;
              box-shadow: none;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
