.popover {
  box-shadow: var(--popover-elevation);
  border-radius: 0.5rem;
  background-color: var(--background-primary);
  border: 1px solid var(--border-minimal);
  font-family: var(--base-font-family);
  max-width: 18rem;

  h3.popover-title {
    padding: 0.5rem 1rem;
    font-family: var(--body-sm-semibold-font-family);
    font-size: var(--body-sm-semibold-font-size);
    line-height: var(--body-sm-semibold-line-height);
    font-weight: 600;
    color: var(--text-body);
    border-bottom: 1px solid var(--border-minimal);
  }

  .popover-content {
    padding: 0.75rem 1rem 1rem 1rem;

    p {
      font-size: var(--body-md-regular-font-size);
      line-height: var(--body-md-regular-line-height);
      font-weight: var(--body-md-regular-font-weight);
      color: var(--text-body);
      margin: 0;
    }
  }

  --popover-arrow-size: 1rem;
  --popover-arrow-inner-border-size: calc(var(--popover-arrow-size) / 2);
  --popover-arrow-border-size: calc(var(--popover-arrow-inner-border-size) + 1px);

  & > .arrow,
  & > .arrow:after {
    position:absolute;
    display:block;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid
  }
  & > .arrow:after {
    content:"";
    border-width: var(--popover-arrow-inner-border-size);
  }
  &.top > .arrow {
    bottom: calc(-1 * var(--popover-arrow-border-size));
    left:50%;
    margin-left: calc(-1 * var(--popover-arrow-border-size));
    border-top-color: var(--border-minimal);
    border-bottom-width:0
  }
  &.top > .arrow:after {
      bottom:1px;
      margin-left: calc(-1 * var(--popover-arrow-inner-border-size));
      content:" ";
      border-top-color: var(--background-primary);
      border-bottom-width:0
  }
  &.right > .arrow {
      top:50%;
      left: calc(-1 * var(--popover-arrow-border-size));
      margin-top: calc(-1 * var(--popover-arrow-border-size));
      border-right-color: var(--border-minimal);
      border-left-width:0
  }
  &.right > .arrow:after {
      bottom: calc(-1 * var(--popover-arrow-inner-border-size));
      left:1px;
      content:" ";
      border-right-color: var(--background-primary);
      border-left-width:0
  }
  &.bottom > .arrow {
      top: calc(-1 * var(--popover-arrow-border-size));
      left:50%;
      margin-left: calc(-1 * var(--popover-arrow-border-size));
      border-top-width:0;
      border-bottom-color: var(--border-minimal);
  }
  &.bottom > .arrow:after {
      top:1px;
      margin-left: calc(-1 * var(--popover-arrow-inner-border-size));
      content:" ";
      border-top-width:0;
      border-bottom-color: var(--background-primary);
  }
  &.left > .arrow {
      top:50%;
      right: calc(-1 * var(--popover-arrow-border-size));
      margin-top: calc(-1 * var(--popover-arrow-border-size));
      border-right-width:0;
      border-left-color: var(--border-minimal);
  }
  &.left > .arrow:after {
      right:1px;
      bottom: calc(-1 * var(--popover-arrow-inner-border-size));
      content:" ";
      border-right-width:0;
      border-left-color: var(--background-primary);
  }
}