:root {
  --sidebar-width: 320px;
  --sidebar-mobile-width: 0px;
  --sidebar-display: block;
}
@media (max-width: 768px) {
  :root {
    --sidebar-width: 0px;
    --sidebar-mobile-width: 320px;
    --sidebar-display: none;
  }
}

.site-body .site-sidebar {
  width: calc(var(--sidebar-width) + var(--sidebar-mobile-width));
  float: none;
  height: 100vh !important;
  display: block;
  position: fixed;
  left: calc(-1 * var(--sidebar-mobile-width));
  top: 0;
  transition: left 0.3s ease-in-out;

  &.in {
    left: 0;
  }

  & .site-sidebar-header {
    height: var(--header-height);
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    visibility: hidden;
  }

  & .nav-site-sidebar {
    background-color: var(--background-primary);
    top: var(--header-height);
    bottom: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    border-right: 1px solid var(--border-regular);
    display: flex;
    flex-direction: column;

    & .sidebar-subpage-header {
      padding: 1.5rem 1.5rem 1rem 1.5rem;
      border-bottom: 1px solid var(--border-regular);
      margin-bottom: 0.75rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & .sidebar-heading a {
        display: block;
        padding: 0.325rem 0;
        font-size: 1.1875rem;
        line-height: 1.75rem;
        font-weight: 700;
        color: var(--text-primary);

        &:hover {
          color: var(--text-link-hover);
          text-decoration: underline;
        }
      }

      & .sidebar-back-link {
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
        padding: 0;
        color: var(--text-link);
        height: 1.5rem;

        &::before {
          content: "";
          display: inline-block;
          width: 1rem;
          height: 1rem;
          mask-image: url("../images/icon-arrow-left-16px.svg");
          mask-size: contain;
          mask-repeat: no-repeat;
          background-color: var(--icon-interactive);
        }
      }
    }

    & > li {
      border: 0;

      &:not(.opened) {
        display: none;
      }

      &.opened > a {
        display: none;
      }

      /* Main menu items */
      & > ul li,
      & > ul li.opened {
        & > a {
          color: var(--text-primary);
          font-size: var(--body-md-regular-font-size);
          line-height: var(--body-md-regular-line-height);
          font-weight: var(--body-md-regular-font-weight);
          text-decoration: none;
          position: relative;
          transition: none;
          background-color: transparent;

          &:hover {
            background-color: var(--background-secondary);
          }
          &:active {
            background-color: var(--background-tertiary); 
          }

          & .glyphicon {
            width: 1rem;
            height: 1rem;
            padding: 0;
            margin: 0;
            top: 50%;
            right: 1.25rem;
            transform: translateY(-50%);
            position: absolute;

            &::before {
              content: "";
              display: inline-block;
              width: 1rem;
              height: 1rem;
              mask-size: contain;
              mask-repeat: no-repeat;
              background-color: var(--icon-secondary);
              mask-image: url("../images/icon-chevron-down-16px.svg");
            }
          }

          /* Submenu L1 */
          &[data-topic-level="3"] {
            padding-left: 3.75rem;
          }

          /* Submenu L2 */
          &[data-topic-level="4"] {
            padding-left: 4.5rem;
          }

          /* ✨Magic✨ - Hide chevron icon if there are no submenus */
          &:not(:has(+ ul)) {
            & .glyphicon {
              display: none;
            }
          }
        }

        /* Active menu items */
        &.active > a {
          background-color: var(--background-selected);
          color: var(--text-primary);
          font-weight: 600;
          border-right: 2px solid var(--border-selected);
          
          & .glyphicon {
            right: calc(1.25rem - 2px);
          }

          &:hover {
            background-color: var(--background-selected-hover);
          }

          &::before {
            background-color: var(--icon-interactive);
          }
        }
      }

      /* Opened menu items */
      & > ul li.opened {
        & > a {
          & .glyphicon {
            &::before {
              mask-image: url("../images/icon-chevron-up-16px.svg");
            }
          }
        }
      }

      /* Submenu L1 */
      & > ul > li > a,
      & > ul > li.opened > a {
        padding: 0.5rem 3.5rem 0.5rem 1.5rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;

        &::before {
          content: "";
          display: inline-block;
          width: 1rem;
          height: 1rem;
          mask-size: contain;
          mask-repeat: no-repeat;
          background-color: var(--icon-secondary);
        }

        /* Icons for Bitrise as a Platform subpages */
        &[data-permalink="bitrise-platform/mobile-devops-platform.html"]::before {
          mask-image: url("../images/icon-cycle-16px.svg");
        }
        &[data-permalink="bitrise-platform/getting-started.html"]::before {
          mask-image: url("../images/icon-power-16px.svg");
        }
        &[data-permalink="bitrise-platform/accounts.html"]::before {
          mask-image: url("../images/icon-person-16px.svg");
        }
        &[data-permalink="bitrise-platform/workspaces.html"]::before {
          mask-image: url("../images/icon-dashboard-16px.svg");
        }
        &[data-permalink="bitrise-platform/projects.html"]::before {
          mask-image: url("../images/icon-folder-16px.svg");
        }
        &[data-permalink="bitrise-platform/repository-access.html"]::before {
          mask-image: url("../images/icon-security-shield-16px.svg");
        }
        &[data-permalink="bitrise-platform/integrations.html"]::before {
          mask-image: url("../images/icon-arrows-horizontal-16px.svg");
        }
        &[data-permalink="bitrise-platform/infrastructure.html"]::before {
          mask-image: url("../images/icon-cpu-16px.svg");
        }
        &[data-permalink="bitrise-platform/ai.html"]::before {
          mask-image: url("../images/icon-sparkle-16px.svg");
        }

        /* Icons for Bitrias CI subpages */
        &[data-permalink="bitrise-ci/getting-started.html"]::before {
          mask-image: url("../images/icon-power-16px.svg");
        }
        &[data-permalink="bitrise-ci/workflows-and-pipelines.html"]::before {
          mask-image: url("../images/icon-workflow-flow-16px.svg");
        }
        &[data-permalink="bitrise-ci/configure-builds.html"]::before {
          mask-image: url("../images/icon-configure-16px.svg");
        }
        &[data-permalink="bitrise-ci/run-and-analyze-builds.html"]::before {
          mask-image: url("../images/icon-build-16px.svg");
        }
        &[data-permalink="bitrise-ci/dependencies-and-caching.html"]::before {
          mask-image: url("../images/icon-memory-16px.svg");
        }
        &[data-permalink="bitrise-ci/code-signing.html"]::before {
          mask-image: url("../images/icon-code-signing-16px.svg");
        }
        &[data-permalink="bitrise-ci/testing.html"]::before {
          mask-image: url("../images/icon-tasks-16px.svg");
        }
        &[data-permalink="bitrise-ci/deploying.html"]::before {
          mask-image: url("../images/icon-deployment-16px.svg");
        }
        &[data-permalink="bitrise-ci/insights.html"]::before {
          mask-image: url("../images/icon-insights-16px.svg");
        }
        &[data-permalink="bitrise-ci/bitrise-cli.html"]::before {
          mask-image: url("../images/icon-terminal-16px.svg");
        }
        &[data-permalink="bitrise-ci/api.html"]::before {
          mask-image: url("../images/icon-code-16px.svg");
        }
        &[data-permalink="bitrise-ci/references.html"]::before {
          mask-image: url("../images/icon-book-16px.svg");
        }
        &[data-externallink="integrations"]::before {
          mask-image: url("../images/icon-step-16px.svg");
        }
        &[data-externallink="workflow-recipes"]::before {
          mask-image: url("../images/icon-workflow-16px.svg");
        }

        /* Icons for Bitrias Build Cache subpages */
        &[data-permalink="bitrise-build-cache/getting-started-with-the-build-cache.html"]::before {
          mask-image: url("../images/icon-power-16px.svg");
        }
        &[data-permalink="--invocations--"]::before {  /* TODO: Update this permalink */
          mask-image: url("../images/icon-tasks-16px.svg");
        }
        &[data-permalink="bitrise-build-cache/build-cache-for-gradle.html"]::before {
          mask-image: url("../images/icon-gradle-16px.svg");
        }
        &[data-permalink="bitrise-build-cache/build-cache-for-bazel.html"]::before {
          mask-image: url("../images/icon-bazel-16px.svg");
        }
        &[data-permalink="bitrise-build-cache/build-cache-for-xcode.html"]::before { 
          mask-image: url("../images/icon-xcode-16px.svg");
        }
        &[data-permalink="bitrise-build-cache/insights.html"]::before {
          mask-image: url("../images/icon-insights-16px.svg");
        }
        &[data-permalink="--api--"]::before {  /* TODO: Update this permalink */
          mask-image: url("../images/icon-code-16px.svg");
        }

        /* Icons for Bitrias Release Management subpages */
        &[data-permalink="release-management/getting-started-with-release-management.html"]::before {
          mask-image: url("../images/icon-power-16px.svg");
        }
        &[data-permalink="release-management/configuring-connected-apps.html"]::before {
          mask-image: url("../images/icon-overview-16px.svg");
        }
        &[data-permalink="release-management/installable-artifacts.html"]::before {
          mask-image: url("../images/icon-install-16px.svg");
        }
        &[data-permalink="release-management/build-distribution.html"]::before {
          mask-image: url("../images/icon-group-16px.svg");
        }
        &[data-permalink="release-management/releases.html"]::before {
          mask-image: url("../images/icon-release-16px.svg");
        }
        &[data-permalink="release-management/release-management-api.html"]::before {
          mask-image: url("../images/icon-code-16px.svg");
        }
        &[data-permalink="release-management/codepush.html"]::before {
          mask-image: url("../images/icon-push-device-16px.svg");
        }

        /* Icons for Bitrise Insights subpages */
        &[data-permalink="insights/getting-started-with-insights.html"]::before {
          mask-image: url("../images/icon-power-16px.svg");
        }
        &[data-permalink="insights/available-metrics-in-insights.html"]::before {
          mask-image: url("../images/icon-gauge-16px.svg");
        }
        &[data-permalink="insights/configuring-alerts-in-insights.html"]::before {
          mask-image: url("../images/icon-siren-16px.svg");
        }
        &[data-permalink="insights/git-insights.html"]::before {
          mask-image: url("../images/icon-git-16px.svg");
        }
        &[data-permalink="insights/insights-tutorials.html"]::before {
          mask-image: url("../images/icon-book-16px.svg");
        }

        &:active::before {
          background-color: var(--icon-primary);
        }
      }

      &.sidebar-links {
        margin-top: auto;
        padding: 0.75rem 0;
        border-top: 1px solid var(--border-regular);

        & > ul li > a {
          & .glyphicon::before {
            mask-image: url("../images/icon-arrow-northeast-16px.svg");
          }
        }
      }
    }
  }
}