:root {

  /* -------- Color Palette -------- */

  --pal-green-50: #2a9d4c;

  --pal-orange-50: #d45202;

  --pal-blue-50: #2582d0;
  
  --pal-yellow-50: #b27e00;

  --pal-purple-95: #f9f2fd;
  --pal-purple-93: #f3e7f9;
  --pal-purple-70: #c289e6;
  --pal-purple-50: #9247c2;
  --pal-purple-40: #7b3ba5;
  --pal-purple-30: #5c2a7e;
  --pal-purple-20: #421560;
  --pal-purple-10: #2b0e3f;

  --pal-neutral-100: #ffffff;
  --pal-neutral-95: #f6f4f6;
  --pal-neutral-93: #efebef;
  --pal-neutral-90: #dfdae1;
  --pal-neutral-80: #c9c1cd;
  --pal-neutral-70: #afa4b4;
  --pal-neutral-60: #94879b;
  --pal-neutral-50: #7d7184;
  --pal-neutral-40: #6b6071;
  --pal-neutral-10: #201b22;

  /* -------- Brand Colors -------- */

  --brand-purple-lightest: #f6eaff;
  --brand-blue-lightest: #d7f5ff;
  --brand-green-lightest: #dbfff3;
  --brand-yellow-lightest: #fff4cd;
  --brand-orage-light: #ffd7c9;

  /* -------- System Colors -------- */

  --sys-primary-emphasized: var(--pal-purple-30);

  --sys-fg-base: var(--pal-neutral-10);
  --sys-fg-primary: var(--pal-purple-10);
  --sys-fg-secondary: var(--pal-neutral-40);
  --sys-fg-tertiary: var(--pal-neutral-60);
  --sys-fg-on-color: var(--pal-neutral-100);
  --sys-fg-on-disabled: var(--pal-neutral-70);

  --sys-bg-surface: var(--pal-neutral-100);
  --sys-bg-minimal: var(--pal-neutral-95);
  --sys-bg-subtle: var(--pal-neutral-93);
  --sys-bg-moderate: var(--pal-neutral-90);

  --sys-neutral-base: var(--pal-neutral-50);

  --sys-interactive-base: var(--pal-purple-50);
  --sys-interactive-strong: var(--pal-purple-40);
  --sys-interactive-highlight: var(--pal-purple-70);
  --sys-interactive-minimal: var(--pal-purple-95);
  --sys-intercative-subtle: var(  --pal-purple-93);

  --sys-border-minimal: var(--pal-neutral-93);
  --sys-border-subtle: var(--pal-neutral-90);
  --sys-border-on-contrast: var(--pal-neutral-95);
  --sys-border-strong: var(--pal-neutral-80);
  --sys-border-emphasized: var(--pal-neutral-70);

  --sys-warning-base: var(--pal-yellow-50);

  --sys-info-base: var(--pal-blue-50);

  --sys-orange-base: var(--pal-orange-50);

  --sys-success-base: var(--pal-green-50);

  /* -------- Shorthands -------- */

  --text-body: var(--sys-fg-base);
  --text-primary: var(--sys-fg-primary);
  --text-secondary: var(--sys-fg-secondary);
  --text-on-color: var(--sys-fg-on-color);
  --text-link: var(--sys-interactive-base);
  --text-link-hover: var(--sys-interactive-strong);

  --background-primary: var(--sys-bg-surface);
  --background-secondary: var(--sys-bg-minimal);
  --background-tertiary: var(--sys-bg-subtle);
  --background-selected: var(--sys-interactive-minimal);
  --background-selected-hover: var(--sys-intercative-subtle);

  --border-regular: var(--sys-border-subtle);
  --border-minimal: var(--sys-border-minimal);
  --border-selected: var(--sys-interactive-base);
  --border-on-contrast: var(--sys-border-on-contrast);

  --icon-primary: var(--sys-fg-primary);
  --icon-secondary: var(--sys-fg-secondary);
  --icon-tertiary: var(--sys-fg-tertiary);
  --icon-interactive: var(--sys-interactive-base);

  --input-text-placeholder: var(--sys-fg-on-disabled);

  --button-primary-fg: var(--sys-fg-on-color);
  --button-primary-bg: var(--sys-interactive-strong);
  --button-primary-bg-hover: var(--sys-primary-emphasized);

  --button-secondary-fg: var(--sys-fg-primary);
  --button-secondary-bg: var(--sys-bg-surface);
  --button-secondary-bg-hover: var(--sys-bg-subtle);
  --button-secondary-bg-active: var(--sys-bg-moderate);
  --button-secondary-border: var(--sys-border-strong);
  --button-secondary-border-hover: var(--sys-border-emphasized);
  --button-secondary-border-active: var(--sys-border-emphasized);

  /* -------- Elevation -------- */

  --elevation-sm: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}