:root {
  --pal-green-50: #2a9d4c;
  --pal-orange-50: #d45202;
  --pal-blue-50: #2582d0;
  --pal-yellow-50: #b27e00;
  --pal-purple-50: #9247c2;
  --pal-purple-40: #7b3ba5;
  --pal-purple-30: #5c2a7e;
  --pal-purple-20: #421560;
  --pal-purple-10: #2b0e3f;
  --pal-neutral-100: #ffffff;
  --pal-neutral-95: #f6f4f6;
  --pal-neutral-93: #efebef;
  --pal-neutral-90: #dfdae1;
  --pal-neutral-60: #94879b;
  --pal-neutral-50: #7d7184;
  --pal-neutral-40: #6b6071;
  --pal-neutral-10: #201b22;

  --brand-purple-lightest: #f6eaff;
  --brand-blue-lightest: #d7f5ff;
  --brand-green-lightest: #dbfff3;
  --brand-yellow-lightest: #fff4cd;
  --brand-orage-light: #ffd7c9;

  --sys-primary-emphasized: var(--pal-purple-30);

  --sys-fg-base: var(--pal-neutral-10);
  --sys-fg-primary: var(--pal-purple-10);
  --sys-fg-secondary: var(--pal-neutral-40);
  --sys-fg-tertiary: var(--pal-neutral-60);
  --sys-fg-on-color: var(--pal-neutral-100);

  --sys-bg-surface: var(--pal-neutral-100);
  --sys-bg-minimal: var(--pal-neutral-95);

  --sys-neutral-base: var(--pal-neutral-50);
  --sys-interactive-base: var(--pal-purple-50);
  --sys-warning-base: var(--pal-yellow-50);
  --sys-info-base: var(--pal-blue-50);
  --sys-orange-base: var(--pal-orange-50);
  --sys-success-base: var(--pal-green-50);

  --sys-border-minimal: var(--pal-neutral-93);
  --sys-border-subtle: var(--pal-neutral-90);

  --elevation-sm: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}